.row
  .span8
    %h1 Test Phonebook
    #PhoneBook
      %table.table.table-stripped
        %thead
          %tr
            %th.span3
              Full name
            %th.span3
              Phone number
            %th
              &nbsp;
        %tbody.Index{ 'data-template' => '.TableRow' }

      = form_for PhoneBookEntry.new, html: { class: 'Form' } do |f|
        = f.text_field :full_name
        = f.text_field :phone_number

        %button.btn.btn-primary
          Add entry


      %script.TableRow{ type: "text/x-tmpl" }
        %tr
          %td.span3
            != "<%= phone_book_entry.full_name %>"
          %td.span3
            != "<%= phone_book_entry.phone_number %>"
          %td.span2
            %a.Edit{ href: '#' }
              %i.icon-edit

